@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tektur&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,400&display=swap");


body {
  width: 100vw;
  overflow-x: hidden;
}

main {

  display: flex;
  justify-content: center;
  background-color: black;
  padding: 120px 24px 160px 24px;
}

input[type="url"] {
  --webkit-appearance: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply flex items-center flex-col w-full md:w-[64rem] mx-auto;
}

.btn {
  @apply rounded-[4px] border border-white py-1.5 px-5 text-sm text-white transition-all hover:bg-white hover:text-black;
}

.head_text {
  @apply  text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl text-center;
}

.mix_gradient {
  @apply bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 bg-clip-text text-transparent;
}

.desc {
  @apply font-inter mt-5 text-lg text-gray-600 sm:text-xl text-center max-w-2xl;
}

.url_input {
  @apply block w-full border-b-[1px] border-white bg-transparent py-2.5 pl-4 pr-12 text-sm text-white font-mono font-medium focus:outline-none focus:ring-0;
}

.clear_btn {
  @apply absolute inset-y-0 right-0 my-1.5 mr-1.5 pt-1 flex w-10 items-center justify-center font-sans text-sm font-medium text-white;
}

.link_card {
  @apply p-3 flex justify-start items-center flex-row border border-gray-200 gap-3 rounded-[4px] cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-gray-50  backdrop-blur flex justify-center items-center cursor-pointer;
}

.summary_box {
  @apply rounded-[4px] border border-x-white  backdrop-blur p-4;
}